name: Currency Scraper
on:
  schedule:
    - cron: '30 * * * *' # Τρέχει κάθε μισάωρο
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests beautifulsoup4
      - name: Run scraper
        run: python currency_scraper.py
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add currencies.json
          git commit -m "Scraped new rates" || exit 0
          git push
